/* StylesCadastro-Fenotipagem.css */

.minha-classe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.label-container {
    width: 5px; /* ou a largura desejada para as labels */
    display: inline-block;
}

.input-container {
    width: calc(100% - 200px); /* Ajuste conforme necessário */
    display: inline-block;
    vertical-align: top; /* Alinhar com o topo para garantir o alinhamento correto */
}

.label-text {
    color: #c7696f;
    font-size: 24px !important;
    margin-bottom: 10px;
    font-family: 'Lucida', sans-serif;

}


.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-row {
    margin-bottom: 20px;
}

.ui-panel-title {
    color: #FF0000FF; /* Cor desejada */
    font-family: 'Arial', sans-serif; /* Fonte desejada */
    font-size: 30px; /* Tamanho da fonte desejado */
}
